
@{
    ViewBag.Title = "Index";
}

<div id="header">
    <div class="header_content">
        <div class="logo">
            <img src="~/Images/logo.jpg" />
            <img src="~/Images/logo_txt.png" class="logo_txt" />
        </div>
        <div class="head_search">
            <input type="text" placeholder="Поиск" />
        </div>
    </div>
</div>
<div id="middle">
    <div class="middle_content">
        <div class="main_info">
            <div class="group_info">
                <div class="group_logo">
                    <img src="~/Images/metallica.jpg" />
                </div>
                <div class="group_name">
                    <span>Metallica</span>
                </div>
                <div class="subscribe_btn">
                    <button>Подписаться</button>
                </div>
                <div class="subscribers_cnt">300</div>
                <div class="short_description">

                </div>
            </div>
            <div class="full_description">

            </div>
        </div>
        <div class="show_more">

        </div>

        <div class="info_content">
            <ul class="post_navigation">
                <li class="active">Лента</li>
                <li>Фотографий</li>
                <li>Видео</li>
                <li>Задай вопрос</li>
                <li class="last">О Себе</li>
            </ul>
        </div>
    </div>
</div>
<div id="footer">

</div>